<ion-view title="Jadwal Saya" id="page4">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-help-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <ion-list id="jadwalSaya-list6">
      <ion-item class="item-thumbnail-left item-icon-right" id="jadwalSaya-list-item14" ui-sref="tabsKajian.detailKajianSaya()">
        <img src="img/QH836yieRoGTDTeQsl6I_kaum_yang_didoakan_malaikat_ustadz_abu_yahya_badrusalam.jpeg">
        <h2>Kajian Tematik</h2>
        <p style="white-space:normal;">
          <b>Nama Ustdz Pengisi Kajian</b>
          <br>Masjid Tempat Kajian
          <br>Bandung
          <br>27/10/2018 09:00 ~ Selesai
          <br>Kajian Rutin, Umum</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
        <ion-option-button class="button-assertive">Hapus</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="jadwalSaya-list-item21" ui-sref="tabsKajian.detailKajianSaya()">
        <img src="img/QH836yieRoGTDTeQsl6I_kaum_yang_didoakan_malaikat_ustadz_abu_yahya_badrusalam.jpeg">
        <h2>Kajian Tematik</h2>
        <p style="white-space:normal;">
          <b>Nama Ustdz Pengisi Kajian</b>
          <br>Masjid Tempat Kajian
          <br>Bandung
          <br>27/10/2018 09:00 ~ Selesai
          <br>Kajian Rutin, Umum</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
        <ion-option-button class="button-assertive">Hapus</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="jadwalSaya-list-item22" ui-sref="tabsKajian.detailKajianSaya()">
        <img src="img/QH836yieRoGTDTeQsl6I_kaum_yang_didoakan_malaikat_ustadz_abu_yahya_badrusalam.jpeg">
        <h2>Kajian Tematik</h2>
        <p style="white-space:normal;">
          <b>Nama Ustdz Pengisi Kajian</b>
          <br>Masjid Tempat Kajian
          <br>Bandung
          <br>27/10/2018 09:00 ~ Selesai
          <br>Kajian Rutin, Umum</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
        <ion-option-button class="button-assertive">Hapus</ion-option-button>
      </ion-item>
    </ion-list>
    <button id="jadwalSaya-button25" class="button button-stable button-full icon ion-ios-more-outline"></button>
  </ion-content>
</ion-view>