<ion-view title="Kajian Terdekat" id="page3">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-navigate-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <form id="kajianTerdekat-form8" class="list">
      <ion-item class="range range-dark" id="kajianTerdekat-range1">Radius
        <input type="range" value="10" min="5" max="50" step="1">
      </ion-item>
      <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d126911.18302704938!2d106.74775922573001!3d-6.267087954970448!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1skajian+sunnah!5e0!3m2!1sen!2sid!4v1540268645238" width="100%" frameborder="0"
        style="border:0; height:70vh" allowfullscreen=""></iframe>
    </form>
  </ion-content>
</ion-view>