<ion-view title="Lokasi Kajian Saya" id="page16">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-map"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3965.97436362457!2d106.81561081476934!3d-6.267101895463826!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69f1878aa75965%3A0xf0cfc51924305ac5!2sMasjid+Al-Ibadah!5e0!3m2!1sen!2sid!4v1540248265262"
      width="400" height="300" frameborder="0" style="border:0" allowfullscreen=""></iframe>
    <ion-list id="lokasiKajianSaya-list9">
      <div class="item item-body no-border-top no-border-bottom" id="lokasiKajianSaya-list-item-container9">
        <div id="lokasiKajianSaya-markdown32" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Kajian Tematik</strong>
          </p>
        </div>
        <div id="lokasiKajianSaya-markdown33" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Ustadz Muhammad Nuzul Dzikri, Lc حفظه الله تعالى</p>
        </div>
        <div id="lokasiKajianSaya-markdown34" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Masjid Baitul Jabbaar, Perumahan Jatibening Estate Jl. Kepodang Raya, Caman, Ratna</p>
        </div>
        <div id="lokasiKajianSaya-markdown35" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Bekasi</p>
        </div>
        <div id="lokasiKajianSaya-markdown36" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">13 Shafar 1440 H / 22 Oktober 2018</p>
        </div>
        <div id="lokasiKajianSaya-markdown37" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">08.00 – 09.30</p>
        </div>
      </div>
    </ion-list>
    <a ui-sref="tabsKajian.jadwalSaya()" id="lokasiKajianSaya-button19" class="button button-stable button-block icon ion-ios-arrow-thin-left btn-back"></a>
  </ion-content>
</ion-view>