<ion-view title="Profil" id="page5">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-help-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <form id="profil-form7" class="list">
      <ion-item class="item-divider list-divider-gradient" id="profil-list-item-divider2"> Profil Saya</ion-item>
      <label class="item item-input" id="profil-input10">
        <span class="input-label">Nama</span>
        <input type="text" placeholder="Marsani">
      </label>
      <label class="item item-input" id="profil-input9">
        <span class="input-label">Email</span>
        <input type="email" placeholder="marsanix@gmail.com">
      </label>
      <label class="item item-input" id="profil-input11">
        <span class="input-label">HP</span>
        <input type="tel" placeholder="081277331500">
      </label>
      <label class="item item-input item-stacked-label" id="profil-textarea6">
        <span class="input-label">Alamat</span><textarea placeholder="Marbella Redsidence Blok G7 No. 28"></textarea></label>
      <label class="item item-select" id="profil-select2">
        <span class="input-label">Kota</span>
        <select>
          <option>Jakarta</option>
          <option>Bandung</option>
          <option>Batam</option>
        </select>
      </label>
      <label class="item item-input" id="profil-input14">
        <span class="input-label">Tgl. Lahir</span>
        <input type="date" placeholder="24/03/2984">
      </label>
      <label class="item item-input" id="profil-input15">
        <span class="input-label">Pekerjaan</span>
        <input type="text" placeholder="IT Programmer">
      </label>
      <label class="item item-input" id="profil-input18">
        <span class="input-label">
          <span style="font-size: small;">Komunitas/
            <br>Organisasi/
            <br>Lembaga</span>
        </span>
        <input type="text" placeholder="KajianYuk">
      </label>
      <ion-item class="item-divider list-divider-gradient" id="profil-list-item-divider1"> Password</ion-item>
      <ion-toggle toggle-class="toggle-positive" id="profil-toggle10">Ubah Password</ion-toggle>
      <label class="item item-input" id="profil-input13">
        <span class="input-label">Password</span>
        <input type="text" placeholder="************">
      </label>
      <div id="profil-container2" class="text-center">
        <div class="spacer" style="width: 320px; height: 9px;"></div>
        <button id="profil-button16" class="button button-dark btn-back btn-wide">Simpan perubahan</button>
        <div class="spacer" style="width: 320px; height: 9px;"></div>
      </div>
    </form>
  </ion-content>
</ion-view>