<ion-view id="page1">
  <ion-tabs class="tabs-light tabs-icon-only" id="tabsKajian-tabs1">
    <ion-tab title="Info Kajian" icon="ion-ios-book-outline" href="#/tabs/infoKajian" id="tabsKajian-tab1">
      <ion-nav-view name="tab1"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Cari Kajian" icon="ion-ios-search" href="#/cariKajian" id="tabsKajian-tab4">
    </ion-tab>
    <ion-tab title="Kajian Terdekat" icon="ion-ios-location-outline" href="#/tabs/kajianTerdekat" id="tabsKajian-tab2">
      <ion-nav-view name="tab2"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Jadwal Saya" icon="ion-ios-calendar-outline" href="#/tabs/jadwalSaya" id="tabsKajian-tab3">
      <ion-nav-view name="tab3"></ion-nav-view>
    </ion-tab>
  </ion-tabs>
</ion-view>