<ion-view title="Upload Photo - Edit" id="page22">
  <ion-content padding="false" class="has-header">
    <form id="uploadPhotoEdit-form15" class="list">
      <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
        <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
      </div>
      <div id="uploadPhotoEdit-container8" class="text-center">
        <div class="spacer" style="width: 320px; height: 12px;"></div>
        <button id="uploadPhotoEdit-button29" class="button button-stable button-outline icon ion-image upload-photo-btn upload-photo-upload"></button>
        <button id="uploadPhotoEdit-button30" class="button button-assertive icon ion-ios-trash-outline upload-photo-btn upload-photo-btn-hapus"></button>
      </div>
      <div class="spacer" style="width: 320px; height: 20px;"></div>
      <a ui-sref="bagiKajianEdit()" id="uploadPhotoEdit-button31" class="button button-dark button-block btn-back">Tambah ke slide</a>
    </form>
  </ion-content>
</ion-view>