<ion-view title="Info Kajian {{vm.test}}" id="page2">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button button-icon icon ion-ios-help-outline"></button>
  </ion-nav-buttons>
  <ion-content padding="false" class="has-header">
    <ion-list id="infoKajian-list8">
      <ion-item class="item-icon-left info-kajian-cari" id="infoKajian-list-item49" ui-sref="cariKajian()">
        <i class="icon ion-ios-search"></i>Cari judul, ustadz, tempat...</ion-item>

      <ion-item ng-repeat="item in vm.listData" class="item-thumbnail-left item-icon-right item-thumbnail-info-kajian" id="infoKajian-list-item{{$index}}" ui-sref="tabsKajian.detailKajian({id:item.id})">
        <img ng-src="{{item.kajian_photos[0].photo || 'img/logo.png' }}">
        <h2>{{item.tema}}</h2>
        <p style="white-space:normal;">
          <b>{{item.pemateri}}</b>
          <br>{{item.tempat}}
          <br>{{item.nama_kota}}
          <br>{{item.tanggal | date:'dd/MM/yyyy'}} {{item.jam_mulai}} ~ {{(item.jam_selesai)?item.jam_selesai:'Selesai'}}
          <br>Kajian Rutin, Umum</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
        <ion-option-button class="button-dark">Jadwalkan</ion-option-button>
      </ion-item>
      <ion-item ng-if="vm.isLoading" class="text-center">        
        <img ng-src="img/loading.gif" alt="Loading..." />
      </ion-item>


      <!-- <ion-item class="item-thumbnail-left item-icon-right" id="infoKajian-list-item50" ui-sref="tabsKajian.detailKajian()">
        <img src="img/Abcn4T40S96LbhvV4Lso_kaum_yang_didoakan_malaikat_ustadz_abu_yahya_badrusalam.jpeg">
        <h2>Kajian Tematik</h2>
        <p style="white-space:normal;">
          <b>Nama Ustdz Pengisi Kajian</b>
          <br>Masjid Tempat Kajian
          <br>Bandung
          <br>27/10/2018 09:00 ~ Selesai
          <br>Kajian Rutin, Umum</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
        <ion-option-button class="button-dark">Jadwalkan</ion-option-button>
      </ion-item>
      <ion-item class="item-thumbnail-left item-icon-right" id="infoKajian-list-item51" ui-sref="tabsKajian.detailKajian()">
        <img src="img/Abcn4T40S96LbhvV4Lso_kaum_yang_didoakan_malaikat_ustadz_abu_yahya_badrusalam.jpeg">
        <h2>Kajian Tematik</h2>
        <p style="white-space:normal;">
          <b>Nama Ustdz Pengisi Kajian</b>
          <br>Masjid Tempat Kajian
          <br>Bandung
          <br>27/10/2018 09:00 ~ Selesai
          <br>Kajian Rutin, Umum</p>
        <i class="icon ion-ios-arrow-right icon-accessory"></i>
        <ion-option-button class="button-dark">Jadwalkan</ion-option-button>
      </ion-item> -->
    </ion-list>
    <button ng-if="vm.showPageAction" id="infoKajian-button17" ng-click="vm.pagingAction('clicked', vm.frmSearch.currentPage, vm.frmSearch.pageSize, vm.frmSearch.total)" class="button button-stable button-full icon ion-ios-more-outline"></button>
  </ion-content>
</ion-view>